ccl-plugin/xmlschemata/ContextPropertyTagXML.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EmbeddedContextPropertyTags">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ECPTEntry" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECPTEntry">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="vcpl" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>


